body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(25, 34, 27) 0%,
    #646161 100%);
  font-family: "Roboto Mono", monospace;
  color: whitesmoke;
}
.weather-app-wrapper {
   max-width: 700px;
  margin: 50px auto 50px;
}
.weather-app {
  margin-bottom: 10px;
  padding: 20px;
  border: 1px solid;
  border-radius: 5px
}

button {
  color:whitesmoke;
  background-color: #b8a67d;
  border: 1px solid grey;
  border-radius: 2em 1em 4em / 0.5em 3em;
  padding: 12px 20px;
  transition: ease-in-out 0.3s;
}

button:hover {
  background-color: #b8a67d);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24);
  color: whitesmoke;
  opacity: 0.8
}
form {
  float:right;
}

h1 {
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
}
h2 {
  font-size: 15px;
  font-weight: 400;
}
h3 {
  font-size: 30px;
  text-align: right;
  margin-right: 150px;
  padding: 20px 0 0 0;
}

p {
  margin: 0;
}

#units {
  font-size: 30px;
}

a {
  color: whitesmoke;
} 

a.active {
  color: whitesmoke;
  cursor: default;
  text-decoration: none;
}

.today {
  color: rgb(119, 118, 118);
  font-size: 30px;
}
.currentEmoji {
  font-size: 15px;
}
.humidity {
  font-size: 15px;
}
.col-2 {
  text-align: center;
}

.card-img {
  display: block;
}
.card-title {
  color: whitesmoke;
  opacity: 0.9;
  font-weight: lighter;
  font-size: smaller;
}
.card-header {
  color: whitesmoke;
}


#link {
  font-size:x-small;
  opacity: 60%;
}

a {
  text-decoration: underline;
}

a:hover {
  color:black;
  opacity: 80%;
}
